astunparse==1.6.3
attrs==23.2.0
bidict==0.23.1
bitarray==2.9.2
cachetools==4.2.4
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
clang==5.0
cloudpickle==1.2.2
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
dfa==4.7.0
dfa-mutate==0.1.3
dgl==1.1.2
dill==0.3.6
exceptiongroup==1.2.1
execnet==2.1.1
fasteners==0.19
flatbuffers==1.12
fonttools==4.51.0
funcy==1.17
future==1.0.0
glfw==2.7.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.3
gym==0.21.0
gym-minigrid==1.0.1
h5py==3.1.0
idna==3.7
imageio==2.34.1
importlib-metadata==4.13.0
importlib_resources==6.4.0
iniconfig==2.0.0
joblib==1.4.2
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
littleutils==0.2.2
matplotlib==3.8.4
mpmath==1.3.0
mujoco-py==2.0.2.13
networkx==3.2.1
numpy==1.24.4
oauthlib==3.1.1
ogb==1.3.6
opt-einsum==3.3.0
outdated==0.2.2
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pluggy==1.5.0
protobuf==5.26.1
psutil==5.9.8
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.22
pydot==1.4.2
pyglet==1.5.0
pygraphviz==1.11
pyparsing==3.1.2
pytest==8.2.0
pytest-forked==1.6.0
pytest-xdist==2.5.0
pythomata==0.3.2
python-dateutil==2.9.0.post0
python-sat==0.1.7.dev19
pytz==2024.1
requests==2.31.0
requests-oauthlib==1.3.0
ring==0.9.1
rsa==4.7.2
-e git+ssh://git@github.com/beyazit-yalcinkaya/LTL2Action.git@b00c8c2b72f5c07680ee0649f87bbcc4075392cb#egg=safety_gym&subdirectory=src/envs/safety/safety-gym
scikit-learn==1.4.2
scipy==1.8.1
six==1.15.0
stable-baselines3==1.6.2
sympy==1.12
tensorboard-plugin-wit==1.8.0
tensorboardX==2.6.2.2
termcolor==1.1.0
threadpoolctl==3.5.0
tomli==2.0.1
torch==1.13.0
tqdm==4.66.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wirerope==0.4.5
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.18.1
